#GameBoard {
  position: relative;
  height: 90vh;
  /* border-bottom: 100px solid black; */
}

#Player:focus {
  outline: none;
}

#Floor {
  position: relative;
  background-color: black;
  top: 87%;
}
