#GameBoard {
}

#Player:focus {
  outline: none;
}

#GameBoard:focus {
  position: relative;
  outline: none;
}

.Level {
  height: 90vh;
  position: relative;
}

#Floor {
  position: relative;
  background-color: black;
  top: 87%;
}
